<div class="hero">
  <%= image_tag("hero-bg.svg", class: "hero-bg") %>
  <div class="hero-info">
    <div class="hero-info-title">
      <h1>What you think?</h1>
    </div>
    <div class="hero-info-description">
      <p>Designed and developed by Miguel Zabala Figueroa under the Ruby on Rails framework.</p>
    </div>
    <div class="hero-bottom">
      <a href="<%= articles_path %>" class="hero-bottom-link">Artículos</a>
    </div>
  </div>
  <%= image_tag("hero-img.svg", class: "hero-img") %>
</div>