/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */






$Cprimary: #007BFF;
$Cprimary-hover: rgb(0, 105, 218);
$Csecondary: #333333;
$Clight: rgb(245, 245, 245);

@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import "/components/navbar";
@import "/components/hero";
@import "/components/articles";
@import "bootstrap";
@import "toastr";


* {
  transition: all 0.5s;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  background-color: #f3f3f3;
}

.primary {
  color: $Cprimary;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

a {
  color: #0a8ecd;
  .fa, .fab, .fal, .far, .fas {
    font-size: 1.5em;
    margin: 0 .5em;
    text-shadow: 0 0 15px rgba(0, 143, 211, 0.49);
  }
  &:last-child {
    .fa, .fab, .fal, .far, .fas {
      margin-right: 0 !important;
    }
  }
  &.btn-mi-blue {
    color: #fff;
    .fa, .fab, .fal, .far, .fas {
      font-size: inherit;
      margin: 0;
      padding-right: 5px;
      text-shadow: 0 0 15px rgba(255, 255, 255, 0.49);
    }
  }
}


.btn-mi, input.btn-mi {
  background-color: #1074E7;
}

.btn-mi-blue, input.btn-mi-blue {
  background: #0791e6;
  background: -webkit-linear-gradient(right, #0791e6 0%, #0791e6 50%, #028be0 100%);
  background: -moz-linear-gradient(right, #0791e6 0%, #0791e6 50%, #028be0 100%);
  background: -o-linear-gradient(right, #0791e6 0%, #0791e6 50%, #028be0 100%);
  background: -ms-linear-gradient(right, #0791e6 0%, #0791e6 50%, #028be0 100%);
  background: linear-gradient(to left, #0791e6 0%, #0791e6 50%, #028be0 100%);
  -webkit-box-shadow: 0 1px 1px 0 #00436d;
  box-shadow: 0 1px 1px 0 #00436d;
  color: #fff;
}

.jumbotron {
  h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
  }
}

h2 {
  a {
    color: #1c3643;
    transition: all .3s linear;
    &:hover {
      color: #0a8ecd;
    }
  }
}

.devise {
  .logo-img {
    width: 75px;
  }
}

#search_title {
  background-color: $Csecondary;
  padding: 1px 3px;
  margin-right: 5px;
  height: 31px;
  width: 300px;
  color: $Clight;
  font-size: 14px;
}
.search-body {
  display: none;
}


.form-control {
  border: 1px solid $Cprimary!important;
}

@media screen and (max-width: 580px) {
  .search-nav {
    display: none;
  }
  .search-body {
    display: block;
    padding: 0;
    text-align: center;
  }
  #search_title {
    background-color: white;
    margin-right: 5px;
    height: 31px;
    width: 200px;
    color: $Csecondary;
    font-size: 14px;
  }
  .form-control-lg {
    display: flex;
    justify-content: space-between;
  }
}

